
    body {position: relative; font-family: Inter, sans-serif;}

    .screen {position: relative; width: 393px; height: 852px; overflow: hidden; margin: 0 auto;}

  .frame-1_75 {
 position: absolute;
 left: -1.1368683772161603e-13px;
 top: 0px;
 width: 393px;
 height: 852px;
 background-color: rgba(250, 250, 250, 1);
 border-radius: 32px;
}

.frame-1_114 {
 position: absolute;
 left: 32px;
 top: 252px;
 width: 329px;
 height: 117px;
 display: flex;
 flex-direction: column;
 padding: 0px 0px 0px 0px;
}

.frame-1_115 {
 position: relative;
 height: auto;
 border-radius: 8px 8px 0px 0px;
 border: 1px solid rgba(215, 215, 215, 1);
 display: flex;
 flex-direction: row;
 padding: 20px 16px 20px 16px;
 gap: 10px;
}

.frame-1_117 {
 position: relative;
 height: auto;
 border-radius: 0px 0px 8px 8px;
 border: 1px solid rgba(215, 215, 215, 1);
 display: flex;
 flex-direction: row;
 padding: 20px 16px 20px 16px;
 gap: 10px;
}

.frame-1_120 {
 position: absolute;
 left: 16px;
 top: 662px;
 width: 361px;
 height: 46px;
 background-image: linear-gradient(-110.57126407882667deg, rgba(149, 34, 140, 1) 0%, rgba(58, 60, 179, 1) 100%);
 border-radius: 62px;
 display: flex;
 flex-direction: column;
 padding: 0px 0px 0px 0px;
 gap: 8px;
}

.frame-1_125 {
 position: absolute;
 left: 16px;
 top: 720px;
 width: 361px;
 height: 46px;
 background-color: rgba(225, 224, 230, 1);
 border-radius: 62px;
 display: flex;
 flex-direction: column;
 padding: 0px 0px 0px 0px;
 gap: 8px;
}

.text-1_112 {
 position: absolute; 
 left: 32.000000000000114px;
 top: 170px;
font-size: 48px;
font-weight: 700;
font-family: Inter, sans-serif;
letter-spacing: -0.96px;
line-height: 57.60000228881836px;
color: rgba(54, 51, 65, 1);
 text-align: left;
}

.text-1_127 {
 position: absolute; 
 left: 16.000000000000114px;
 top: 778px;
font-size: 13px;
font-weight: 500;
font-family: Inter, sans-serif;
letter-spacing: -0.26px;
line-height: 15.600000381469727px;
color: rgba(54, 51, 65, 1);
 text-align: center;
text-align: center;
 display: flex; justify-content: center; width: 100%;
 color: rgba(54, 51, 65, 0.8);
}

.rect-1_111 {
 position: absolute; 
 left: 127.00000000000011px;
 top: 839px;
 width: 139px;
 height: 5px;
 background-color: rgba(44, 25, 77, 1);
 border-radius: 100px;
}

.text-1_116 {
 position: relative; 
 display: flex; width: 100%; height: 100%;
 justify-content: center; align-items:center;
font-size: 15px;
font-weight: 500;
font-family: Inter, sans-serif;
letter-spacing: -0.3px;
line-height: 18px;
color: rgba(54, 51, 65, 1);
 text-align: left;
}

.text-1_118 {
 position: relative; 
 display: flex; width: 100%; height: 100%;
 justify-content: center; align-items:center;
font-size: 15px;
font-weight: 500;
font-family: Inter, sans-serif;
letter-spacing: -0.3px;
line-height: 18px;
color: rgba(192, 192, 192, 1);
 text-align: left;
}

.text-1_123 {
 position: relative; 
 display: flex; width: 100%; height: 100%;
 justify-content: center; align-items:center;
font-size: 15px;
font-weight: 600;
font-family: Inter, sans-serif;
letter-spacing: -0.15px;
line-height: 22px;
color: rgba(255, 255, 255, 1);
 text-align: center;
}

.text-1_126 {
 position: relative; 
 display: flex; width: 100%; height: 100%;
 justify-content: center; align-items:center;
font-size: 15px;
font-weight: 600;
font-family: Inter, sans-serif;
letter-spacing: -0.15px;
line-height: 22px;
color: rgba(54, 51, 65, 1);
 text-align: center;
}

