
    body {position: relative; font-family: Inter, sans-serif;}

  .text-1:112 {
position: absolute; 
 left: 32px;
 top: 170px;
font-size: 48px;
font-weight: 700;
font-family: Inter, sans-serif;
letter-spacing: -0.96px;
line-height: 57.60000228881836px;
color: rgba[object Object];
}

.text-1:116 {
position: absolute; 
 left: 48px;
 top: 272px;
font-size: 15px;
font-weight: 500;
font-family: Inter, sans-serif;
letter-spacing: -0.3px;
line-height: 18px;
color: rgba[object Object];
}

.text-1:118 {
position: absolute; 
 left: 48px;
 top: 330.5px;
font-size: 15px;
font-weight: 500;
font-family: Inter, sans-serif;
letter-spacing: -0.3px;
line-height: 18px;
color: rgba[object Object];
}

.text-1:123 {
position: absolute; 
 left: 172px;
 top: 674px;
font-size: 15px;
font-weight: 600;
font-family: Inter, sans-serif;
letter-spacing: -0.15px;
line-height: 22px;
color: rgba[object Object];
}

.text-1:126 {
position: absolute; 
 left: 141.5px;
 top: 732px;
font-size: 15px;
font-weight: 600;
font-family: Inter, sans-serif;
letter-spacing: -0.15px;
line-height: 22px;
color: rgba[object Object];
}

.text-1:127 {
position: absolute; 
 left: 16px;
 top: 778px;
font-size: 13px;
font-weight: 500;
font-family: Inter, sans-serif;
letter-spacing: -0.26px;
line-height: 15.600000381469727px;
color: rgba[object Object];
}

